<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monisha.actionbar_monisha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/monisha"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_recycler" />
        <activity android:name=".Activity_Toolbar2" />
       <!-- <activity android:name=".Activity_Toolbar">
            android:label="Toolbar"
            android:theme="@style/AppTheme2"
            android:parentActivityName=".Activity_Coverpage"
    </activity>-->

    </application>

</manifest>
